.row
  .col-md-8.col-md-offset-2.col-lg-offset-2
    %h1.text-center Listing chemicals
    %table.table.table-striped
      %thead
        %tr
          %th= t('chemical.columns.name')
          %th= t('chemical.columns.cas_number')
          %th= t('chemical.columns.')
    %tbody
      = render chemicals
= link_to t('shared.add_new_item'), new_chemical_path, class: 'btn-btn-success'






