.row
  .col-md-8
    %table.table.table-condensed.center-content
      %thead
        %tr

          %th= t('chemical.columns.image')
          %th= sort_link(@q, :chemical_name, t('chemical.columns.name'))
          %th= sort_link(@q, :category_name, t('chemical.columns.category'))
          %th= t('chemical.columns.smiles')
          %th= t('chemical.columns.formula')
          %th= t('chemical.columns.molecular_weight')
          %th= t('chemical.columns.cas_number_formatted')
          %th= t('chemical.columns.created_at')

        %tbody
          %tr
            - @chemicals.each do |chemical|
              %tr
                %td
                  %img.img-rounded{ src: chemical.formula_picture}
                %td= link_to chemical.decorate.titleize_chemical_name, category_chemical_path(chemical.category_id, chemical)
                %td= chemical.category.decorate.titleize_category_name
                %td= chemical.canonical_smiles
                %td= chemical.formula
                %td= chemical.molecular_weight
                %td= chemical.cas_number
                %td= chemical.created_at




