= simple_form_for @chemical do |f|
  = f.input :name
  = f.input :formula
  = f.input :molecular_weight
  = f.input :density
  = f.input :cas_number
  = f.input :csid
  = f.input :smiles
  = f.input :image, as: :file
  = f.button :submit, class: 'btn btn-primary'

