.row
  %table.table.condensed
    %tr
      %td
        .row.pull-left
          %p Created by
          %image.avatar_show_view{ :style => "background-image:url(#{avatar_path(current_user.avatar)})"}
          = @chemical.created_at.strftime('%Y-%m-%d')
        .row.pull-right
          = link_to new_chemical_path(@chemical), { title: t('shared.edit') } do
            %button.btn.btn-outline-success.style_item
              = fa_icon "plus"
          = link_to edit_chemical_path(@chemical), {title: "edit"} do
            %button.btn.btn-outline-primary.style_item
              = fa_icon "edit"
          = link_to chemical_path(@chemical), { method: :delete, title: "delete"} do
            %button.btn.btn-outline-danger.style_item
              = fa_icon "trash"
      %table.table.table-condensed
        %tbody
          %tr
            %td= t("chemical.columns.name")
            %td= @chemical.chemical_name
          %tr
            %td= t("chemical.columns.formula")
            %td= @chemical.formula
          %tr
            %td= t("chemical.columns.molecular_weight")
            %td= @chemical.decorate.molecular_weight_formater(@chemical.molecular_weight)
          %tr
            %td= t("chemical.columns.density")
            %td= @chemical.decorate.density_formater(@chemical.density)
          %tr
            %td= t("chemical.columns.cas_number_formatted")
            %td= @chemical.cas_number
          %tr
            %td= t("chemical.columns.smiles")
            %td= @chemical.canonical_smiles
          %tr
            %td= t("chemical.columns.inchi")
            %td= @chemical.inchi_key

= link_to 'Edit', edit_chemical_path(@chemical), class: 'btn btn-outline-primary'
= link_to 'Back', chemicals_path, class: 'btn btn-outline-primary'

