%table.table.table-condensed
  %tbody
    %tr
      %td= t("chemical.columns.name")
      %td= @chemical.chemical_name
    %tr
      %td= t("chemical.columns.formula")
      %td= @chemical.formula
    %tr
      %td= t("chemical.columns.molecular_weight")
      %td= @chemical.molecular_weight
    %tr
      %td= t("chemical.columns.density")
      %td= @chemical.density
    %tr
      %td= t("chemical.columns.cas_number")
      %td= @chemical.cas_number
    %tr
      %td= t("chemical.columns.smiles")
      %td= @chemical.canonical_smiles
    %tr
      %td= t("chemical.columns.inchi")
      %td= @chemical.inchi_key



= link_to 'Edit', edit_chemical_path(@chemical), class: 'btn-btn-primary'
= link_to 'Back', chemicals_path, class: 'btn-btn-primary'
