.jumbotron
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4/
  %p.leads
  .row
    .col-4
      = render 'layouts/shared/sidebar'
    .col-8
      = render 'chemicals/shared/chemicals_feature_table'
      = render 'chemicals/shared/chemical_items_table'
      = render 'safety_precautions/shared/safety_precaution_feature_table'
    .col-md-12.btn-margin
      = link_to 'Back', chemicals_path, class: 'btn btn-outline-primary'

